.body{
    background-color: #034f84;
    height: 100vh;
    width: 100%;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Roboto;
    animation: fade-in 1s 0s ease;
}

a {
    text-decoration: none;
    color: #034f84;
    margin-right: 40px;
    font-size: 20px;
}

.header-container {
    width: 100%;
    height: 10vh;
    background-color: #92a8d1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.main-div {
    width: 80%;
    height: 90vh;
    display: flex;
   
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    .main-div h1 {
        color: #f7cac9;
        font-size:50px;
    }
    .main-div span {
        color: #f7786b;
        font-size:70px;
    }

.left-menu {
    height: 90vh;
    width: 20%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
   
    background-color: rgba(255, 255, 255, 0.60);
}

    .left-menu a {
        margin-top: 30px;
        font-size: 20px;
        position:relative;
        left:50px;
    }
        a:hover {
            color:white;
        }
        .body-container {
            display: flex;
            flex-direction: row;
        }

 @keyframes fade-in{
            0%{
                opacity:0;
            }
            50%,100%{
                opacity:1;
            }
        }